- form_for [@postcode, @free_report] do |f|
  = f.error_messages
  %div#free_reprort
    %h2
      Thank you.
    %p
      You will now be contacted with quotes from our trusted Solar technology companies shortly.
    %h2
      Not sure what questions to ask the sales consultant?
    %p
      Why not take advantage of our free checklist of questions to aska solar salesperson, which includes a a list of common
    %p
      Would you like to receive your free report?
      %p
      %span.option_label
        = f.radio_button :confirmation, "Yes"
        = f.label "Yes"
      %br
      %span.option_label
        = f.radio_button :confirmation, "No"
        = f.label "No"
    %div.nextdiv
      = image_submit_tag("/images/btn_next.png")