- form_for [@postcode, @select_product] do |f|
  %div#flash
    = f.error_messages
  %div#product_choice
    %h2
      Are you interested in Solar Hot Water or Solar Power?
    %span.option_label
      = f.radio_button :product, "Solar Electricity"
      = f.label "Solar Electricity"
    %br
    %span.option_label
      = f.radio_button :product, "Solar Hot Water"
      = f.label "Solar Hot Water"
    %h2
      Do you want a quote this week ar are you just looking?
  %p
    = f.select :timeframe, [["immediately",0],["in the next month",1],["in the next six months",6],["in the next year",12],["Just looking, thanks", 99]]
  %div.nextdiv
    = image_submit_tag("/images/btn_next.png")