- form_for [@postcode, @select_product] do |f|
  = f.error_messages
  %p
    = f.label :product
    %br
    = f.text_field :product, :size=>16
  %p
    = f.label :timeframe
    %br
    = f.text_field :timeframe, :size=>16
  %div.nextdiv
    %button{type => "next", :value => "OK", :id => "select_product_submit", :class => "next"}