<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Another lead from mysolarprice.com.au</title>
</head>
<body>
  <p>Dear <%= @x.site_details.first_name%>,</p>
  <p>You have postcode <%=@x.postcode%> </p>
  <p>First Name: <%= @x.site_details.first_name%></p>     <!-- notice it's a NESTED reference. We passed in @postcode and we get the rest -->
  <p>Postcode: <%= @x.postcode%></p>
  <p>Products: <%= @x.select_product.product %></p>
</body>
</html>