<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Another lead from mysolarprice.com.au</title>
</head>
<body>
  <p>Dear <%= @y.first_name%>,</p>
  <p>Here is your lead from mysolarprice.com.au:</p>
  <br/>
  <p>Name: <%= @x.site_details.first_name%> <%= @x.site_details.last_name%></p>

  <p>Solar Electricity: <%= @x.select_product.product_se %></p>
  <p>Solar Hot Water: <%= @x.select_product.product_shw %></p>
  <p>Timeframe: <%= @x.select_product.timeframe %></p>
  <br/>
  <p>Quote type: <%= @x.site_details.quote_type%>
  <p>Email: <%= @x.site_details.email%>
  <p>Street Address : <%= @x.site_details.street_address%>
  <p>Suburb : <%= @x.site_details.suburb%>
  <p>State : <%= @x.site_details.state%>
  <p>Postcode : <%= @x.postcode%>
  <br/>
  <p>Roof Type: <%= @x.site_survey.roof_type%>
  <p>Solar Power meterage OK? : <%= @x.site_survey.meterage_ok_solar_power%>
  <p>Solar H.W. meterage OK?: <%= @x.site_survey.meterage_ok_solar_hot_water%>
  <p>Approx Roof Slope: <%= @x.site_survey.approximate_roof_slope%>
  <p>Pct Shade on North Roof: <%= @x.site_survey.percentage_shade_on_north_facing_roof%>
  <p>House Stories : <%= @x.site_survey.house_stories%>
  <p>Unique Features: <%= @x.site_survey.unique_features%>
  <br/>
  <p># People in Home: <%= @x.sizing.number_of_people_in_home%>
  <p>Current H.W. Type: <%= @x.sizing.current_hw_type%>
  <p>Current H.W. Size: <%= @x.sizing.current_hw_size%>
  <p>Current H.W. Location: <%= @x.sizing.current_hw_location%>
  <p>Electricity Bill Last Quarter: <%= @x.sizing.last_quarter_elec_bill%>
  <p>Preferred Solar Power Unit Size: <%= @x.sizing.preferred_solar_power_size%>

</body>
</html>