<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Another lead from mysolarprice.com.au</title>
</head>
<body>
  <%#*<p>Dear <%= @x.postcode.site_details.first_name%>,</p>%>
  <%#*<p>Test Postcode instance: <%= postcode.postcode %></p>%>
  <%#*<p>You have postcode <%=@x.postcode%> </p>%>
  <%#*<p>First Name: <%= @postcode.SiteDetails.first_name%></p>     <!-- notice it's a NESTED reference. We passed in @postcode and we get the rest -->%>
  <%#*<p>Postcode: <%= @postcode.postcode%></p>%>
  <%#*<p>Products: <%= @postcode.select_products.products%></p>%>
</body>
</html>