<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Another lead from mysolarprice.com.au</title>
</head>
<body>
  <p>First Name: <%= @lead.first_name%></p>
  <p>Postcode: <%= @postcodes.postcode%></p>
  <p>Products: <%= @select_products.products%></p>
    <!-- multiple go here -->
  <p>Products: <%= @select_products.timeframe%></p>

  <p>Quote Type: <%= @site_details.quote_type%></p>
    <!-- multiple go here -->
  <p>First Name: <%= @site_details.first_name%></p>
  <p>Last Name: <%= @site_details.last_name%></p>
  <p>Email Address: <%= @site_details.email%></p>
  <p>Street Address: <%= @site_details.street_address%></p>
  <p>Suburb: <%= @site_details.suburb%></p>
  <p>State: <%= @site_details.state%></p>
  <p>Postcode: <%= @site_details.postcode%></p>
  <p>Country: <%= @site_details.country%></p>

  <p>Roof Type: <%= @site_survey.roof_type%></p>
  <p>Meterage OK for solar power?: <%= @site_survey.meterage_ok_solar_power%></p>
  <p>Meterage OK for solar hot water?: <%= @site_survey.meterage_ok_solar_hot_water%></p>
  <p>Approximate roof slope: <%= @site_survey.approximate_roof_slope%></p>
  <p>Percentage Share on North Facing Roof: <%= @site_survey.percentage_shade_on_north_facing_roof%></p>
  <p>House Hieght (stories): <%= @site_survey.house_stories%></p>
  <p>Unique Features: <%= @site_survey.unique_features%></p>

  <p>Number of people in the home: <%= @sizing.number_of_people_in_home%></p>
  <p>Current HWS type: <%= @sizing.current_hw_type%></p>
  <p>Current HWS size: <%= @sizing.current_hw_size%></p>
  <p>Current HWS location: <%= @sizing.current_hw_location%></p>
  <p>Electricity bill (quarterly): <%= @sizing.last_quarter_elec_bill%></p>
  <p>Preferred Solare Power Size: <%= @sizing.preferred_solar_power_size%></p>
</body>
</html>