- form_for @supplier do |f|
  %div#flash
    = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :first_name
    %br
    = f.text_field :first_name
  %p
    = f.label :last_name
    %br
    = f.text_field :last_name
  %p
    = f.label :abn
    %br
    = f.text_field :abn
  %p
    = f.label :phone
    %br
    = f.text_field :phone
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :suburb
    %br
    = f.text_field :suburb
  %p
    = f.label :state
    %br
    = f.text_field :state
  %p
    = f.label :active
    %br
    = f.check_box :active
  %p
    = f.submit
