%div#subsequentpages
  %div#container
    %h2
      Suppliers
      %br
      %br
      %table#supplier-tbl
        %tr#supplier_head
          %th#h-supplier Supplier
          %th#h-contact Contact
          %th#h-phone Phone
          %th#h-suburb Suburb
          %th#h-state State
          %th#h-active Active
        - for supplier in @suppliers
          %tr.supplier_data_row
            %td
              = h supplier.name   
            %td
              = h supplier.first_name
              = h supplier.last_name
            %td= h supplier.phone
            %td= h supplier.suburb
            %td= h supplier.state
            %td= h supplier.active
            %td= link_to 'Show', supplier
            %td= link_to 'Edit', edit_supplier_path(supplier)

      %p= link_to "New Supplier", new_supplier_path
