- title "Suppliers"

%table
  %tr
    %th Supplier
    %th Contact
    %th Phone
    %th Suburb
    %th State
    %th Country
    %th Active
  - for supplier in @suppliers
    %tr
      %td
        = h supplier.name
        = h supplier.first_name
      %td= h supplier.last_name
      %td= h supplier.phone
      %td= h supplier.suburb
      %td= h supplier.state
      %td= h supplier.active
      %td= link_to 'Show', supplier
      %td= link_to 'Edit', edit_supplier_path(supplier)
      %td= link_to 'Destroy', supplier, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Supplier", new_supplier_path
