<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>mysolarprice.com.au</title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="pageback">
<%#- flash.each do |name, msg| -%>
<%#= content_tag :div, msg, :id => "flash_#{name}" %>
<%#- end -%>

      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>

      <%= yield %>
    </div>
    <div id="privacylink">
      <a href="/privacy_policy.html">privacy policy</a>
    </div>
    <% if logged_in?  %>
      <div id="admin_menu">
        <%#= link_to "Leads", postcodes_path %>
        <%= link_to "Suppliers", suppliers_path %>
        <%= link_to "Logout", logout_path %>
      </div>
    <% end %>

  </body>
</html>